# MySQL Container Credentials
MYSQL_ROOT_PASSWORD=root_secret_pass
MYSQL_DATABASE=diklat_db
MYSQL_USER=diklat_user
MYSQL_PASSWORD=diklat_password

# Database URL
DATABASE_URL=mysql://diklat_user:diklat_password@localhost:3306/diklat_db

# App Configurations
PORT=3090
APP_TOKEN=amar_diklat_secret_token_123
JWT_SECRET=super_secret_jwt_key_diklat_amar_group_2026
ALLOWED_APP_URL=http://localhost:3002

# SMTP (Email OTP Registration)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email_anda@gmail.com
SMTP_PASS=kode_sandi_aplikasi_16_digit

# Integrasi Opsional
CLOUDINARY_URL=
CLOUDINARY_FOLDER=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
FONNTE_API_TOKEN=